<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Get off my page</h2>
    <h3>Why are you still here?</h3>
    <p>Welcome to <%= title %></p>
  </body>
</html>
